html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--surface-b);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: 6vh;
}

main {
  height: 88vh;
}

footer {
  height: 6vh;
  background-color: var(--surface-a);
}

.app {
  height: 100vh;
  width: 100vw;
}

.card {
  width: 19rem;
  border-radius: 1.2rem;
}

.app-header {
  background-color: var(--blue-600);
}

.card-questions-form {
  margin: 0 auto;
  max-width: 100rem;
  height: 100%;
}

.card-questions-form .p-card-body {
  height: 100%;
}

.card-questions-form .p-card-content {
  height: 100%;
}

.card-questions-form form {
  height: 100%;
}
