html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--surface-b);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
}

.card {
  width: 300px;
  border-radius: 10px;
}
